* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_1927 {
  width: 375px;
  height: 812px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_2040 {
  width: 375px;
  height: 44px;
  background: url("../images/v1_2040.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_2041 {
  width: 219px;
  height: 30px;
  background: url("../images/v1_2041.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 78px;
  overflow: hidden;
}
.v1_2042 {
  width: 375px;
  height: 44px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 78px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_2045 {
  width: 219px;
  height: 30px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_2046 {
  width: 66px;
  height: 11px;
  background: url("../images/v1_2046.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 294px;
  overflow: hidden;
}
.v1_2047 {
  width: 24px;
  height: 11px;
  background: url("../images/v1_2047.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 43px;
  overflow: hidden;
}
.v1_2048 {
  width: 22px;
  height: 11px;
  background: url("../images/v1_2048.png");
  opacity: 0.3499999940395355;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
}
.v1_2049 {
  width: 1px;
  height: 4px;
  background: rgba(0,0,0,1);
  opacity: 0.4000000059604645;
  position: absolute;
  top: 3px;
  left: 23px;
}
.v1_2050 {
  width: 18px;
  height: 7px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_2060 {
  width: 6px;
  height: 6px;
  background: url("../images/v1_2060.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 5px;
  overflow: hidden;
}
.v1_2061 {
  width: 6px;
  height: 6px;
  background: rgba(255,149,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1_2062 {
  width: 54px;
  height: 21px;
  background: url("../images/v1_2062.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 21px;
  overflow: hidden;
}
.v1_2063 {
  width: 54px;
  height: 21px;
  background: url("../images/v1_2063.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  overflow: hidden;
}
.v1_2064 {
  width: 28px;
  height: 11px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 13px;
}
.v22_57 {
  width: 140px;
  height: 140px;
  background: rgba(118,214,255,1);
  opacity: 1;
  position: absolute;
  top: 181px;
  left: 117px;
  border-radius: 50%;
}
.v22_62 {
  width: 266px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 331px;
  left: 54px;
  font-family: ADLaM Display;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v22_63 {
  width: 180px;
  height: 59px;
  background: rgba(255,138,216,1);
  opacity: 1;
  position: absolute;
  top: 498px;
  left: 97px;
  border: 3px solid rgba(0,0,0,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v22_65 {
  width: 153px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 510px;
  left: 111px;
  font-family: ADLaM Display;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v22_67 {
  width: 278px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 386px;
  left: 49px;
  font-family: ADLaM Display;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v28_24 {
  width: 375px;
  height: 94px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 718px;
  left: 0px;
  overflow: hidden;
}
.v28_25 {
  width: 375px;
  height: 34px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 0px;
  overflow: hidden;
}
.v28_26 {
  width: 134px;
  height: 5px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 121px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v67_21 {
  width: 66px;
  height: 66px;
  background: rgba(236,236,236,1);
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 9px;
  border: 3px solid rgba(0,0,0,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v28_28 {
  width: 40px;
  height: 40px;
  background: url("../images/v28_28.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 22px;
  overflow: hidden;
}
.v28_29 {
  width: 40px;
  height: 40px;
  background: url("../images/v28_29.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 352px;
  overflow: hidden;
}
.v28_30 {
  width: 45px;
  height: 45px;
  background: url("../images/v28_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 166px;
  overflow: hidden;
}
.v37_18 {
  width: 105px;
  height: 105px;
  background: url("../images/v37_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 202px;
  left: 135px;
  overflow: hidden;
}
